<h1> Welcome to Post Dawg</h1>

<%= link_to "New Dawg Post", new_post_path, class: "btn btn-primary" %>

<br>
<br>


<% @posts.each do |post| %>
  <div class="well">
    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
      <%= link_to (image_tag post.image(:thumb), class: "post-thumb"), post %>
    </div>
    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
      <%= link_to post.title, post, class: "post-thumb" %>
      <br>
      <%= post.body.truncate(100) %>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>